<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&;700display=swap" rel="stylesheet">
    <link href="{% static '/css/about.css' %}" rel="stylesheet">
    <title>R0bert.code</title>
</head>
<body>
    <header class="main-header">
        <div class="center-logo">
            <div class="logo">
                <h2>R0bert.code</h2>
            </div><!--logo-->
            <div class="menu">
                <a href="/">
                    Home
                </a>
                <a href="about">
                    Sobre
                </a>
                <a href="#">
                    Contato
                </a>
                <a href="blog/">
                    Blog
                </a>
                <!--<a class="btn-menu" href="#">
                    Get Started
                </a>-->
            </div>
        </div><!--center-->
    </header>
    <section class="main-content">
            <div class="center">
                <div class="main__cta">
                    <div class="my-photo">
                        <img src="/static/images/my-photo.png" alt="my-photo">
                    </div>
                    <h2>Wellington Roberto</h2>
                    <p>I am r0bertwell  -dev</p>
                </div><!--main-cta-->
            </div>
    </section><!--section-->
    <div class="bg-whoami">
        <h1>Who am i ?</h1>
        <div class="i-am">
            <div class="i-am-left">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel convallis quam, non suscipit ligula. Quisque vestibulum eleifend lacus eu finibus. Phasellus porta rhoncus magna, eget hendrerit tortor faucibus ut. Nulla et vehicula elit. Nam at neque vulputate, cursus massa nec, facilisis arcu. Fusce malesuada eros et erat pretium, vel ultrices massa laoreet. Curabitur est erat, eleifend efficitur rhoncus eget, feugiat eu justo. Vivamus in tincidunt risus. Donec mattis, massa vitae rhoncus aliquam, massa mi venenatis mauris, blandit consectetur libero odio eu metus. Sed non tempor orci. Aliquam facilisis commodo orci ut cursus. Sed tristique erat neque, nec tempus sapien feugiat vitae. Donec eget neque eget nisi euismod maximus. Nam vehicula felis at euismod commodo.

     giscelerisque ex elorem. Nullam vel est id tellus porta dictum quis sit amet libero. Morbi turpis turpis, faucibus sit amet sollicitudin sed, sagittis ac magna.
                </p>
            </div>
            <div class="i-am-right">
                <p>
                    <div class="i-am-left">
            <p>
                Lorem ipsum dovel gravida nisl. Suspendisse orci  vel, accumsan porttitor sapien. Ut eleifend scelerisque ex et sagittis. Fusce vel faucibus quam. Vivamus nec nulla lorem. Nullam vel est id tellus porta dictum quis sit amet libero. Morbi turpis turpis, faucibus sit amet sollicitudin sed, sagittis ac magna.
            </p>
        </div>
        <div class="i-am-right">
            Lorem ipsum dolor sit ameum, convallis hendrerit sem. Maecenas tempus accumsan sapien nec ultricies. Vestibulum et nunc at lacus ultrices euismod quis at metus. Nullam in pulvinar turpis. Nullam rhoncus libero leo, in egestas nibh mollis ut. Etiam tristique faucibus fermentum. Fusce porttitor, urna quis mattis condimentum, tortor lorem elementum dui, quis aliquam sem mi vel nisi. Nunc dapibus euismod urna, ut dictum arcu tincidunt maximus. Duis sed varius massa. Proin quis consectetur dui. Etiam sed ligula elementum, scelerisque ante sit amet, ultricies mi. Morbi scelerisque lectus malesuada venenatis maximus. Proin ut nisi ac enim condimentum pellentesque.

Donec congue ravida nisl. Suspendisse orci erat, sagittis non ornare vel, accumsan porttitor sapien. Ut eleifend scelerisque ex et sagittis. Fusce vel faucibus quam. Vivamus nec nulla lorem. Nullam vel est id tellus porta dictum quis sit amet libero. Morbi turpis turpis, faucibus sit amet sollicitudin sed, sagittis ac magna.
        </div>
                </p>
            </div>
        </div>
    </div>
</body>
</html>