<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&;700display=swap" rel="stylesheet">
    <link href="{% static '/css/home.css' %}" rel="stylesheet">
    <title>R0bert.code</title>
</head>
<body>
    <header class="main-header">

        <div class="center">
            <div class="logo">
                <h2>R0bert.code</h2>
            </div><!--logo-->
            <div class="menu">
                <a href="#">
                    Home
                </a>
                <a href="#">
                    Sobre
                </a>
                <a href="#">
                    Contato
                </a>
                <a href="blog/">
                    Blog
                </a>
                <!--<a class="btn-menu" href="#">
                    Get Started
                </a>-->
            </div>
        </div><!--center-->
    </header>


    <section class="main-content">
        <div class="center">
            <div class="main__cta">
                <h2>Wellington : My Profiles</h2>
                <p>I am r0bertwell  -dev</p>
                <button class="btn-get-started">Go to projects</button>
            </div><!--main-cta-->

            <div class="diferenciais">
                    <div class="diferencial-single">
                        <a href="https://github.com/r0bertwell">
                        <i id="github-icon" class="fab fa-github"></i>
                        <h2>GitHub</h2>
                        <p>github.com/r0bertwell</p>
                        </a>
                    </div><!--diferencial single-->
                <div class="diferencial-single">
                    <a href="https://www.linkedin.com/in/r0bertwell/"><i id="linkedin-icon" class="fab fa-linkedin"></i></a>
                    <h2>LinkedIn</h2>
                    <p>www.linkedin.com/in/r0bertwell</p>
                </div><!--diferencial single-->
                <div class="diferencial-single">
                    <a href="https://www.instagram.com/r0bertwell/"><i id="instagram-icon" class="fab fa-instagram-square"></i></a>
                    <h2>Instagram</h2>
                    <p>instagram.com/r0bertwell</p>
                </div><!--diferencial single-->
                <div class="diferencial-single">
                    <a href=""><i id="youtube-icon" class="fab fa-youtube-square"></i></a>
                    <h2>Youtube</h2>
                    <p>youtube.com/r0bertwell</p>
                </div><!--diferencial single-->
            </div><!--diferenciais-->
        </div>
    </section><!--section-->

    <script src="https://kit.fontawesome.com/16544f2866.js"></script>
</body>
</html>