html, body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(218, 219, 212);
}

*{
    text-decoration:none;
}

.background-grid{
    display:grid;
    grid-template-columns: 1fr;
}

.background-grid .bg-1{
    background-color: rgb(0, 150 ,136);
    height: 50px;
    width: 100%;
}

.grid-container{
    margin: 0 auto;
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 15vh 85vh;
    border: 1px solid white;
    grid-template-areas: "header maintitle"
                        "aside main";
}

.main-header-post{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-itens: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px -2px #989898;
    -moz-box-shadow: 0 4px 4px -2px #989898;
    -webkit-box-shadow: 0 4px 4px -2px #989898;
    background-color: rgb(237, 237, 237);
    grid-area: header;
}

.main-header-post nav{
    display: flex;
}

.main-header-post nav li{
    margin: 10px 10px;
    list-style: none;
}

.main-header-post nav li i{
    font-size: 50px;
}

/* main post title ( direita cima ) */

.main-post-title{
    display: flex;
    justify-content: space-between;
    background-color: rgb(237, 237, 237);
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px -2px #989898;
    -moz-box-shadow: 0 4px 4px -2px #989898;
    -webkit-box-shadow: 0 4px 4px -2px #989898;
    grid-area: maintitle;
}

.main-post-title .title-date{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.main-post-title .title-date p{
    font-size: 10px;
}

/* main post text */

main{
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px -2px #989898;
    -moz-box-shadow: 0 4px 4px -2px #989898;
    -webkit-box-shadow: 0 4px 4px -2px #989898;
    background-image: url('/static/images/sky-bg.jpg');
    overflow-y: scroll;
    background-color: white;
    grid-area: main;
}


/* barras de rolagem */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}


/* aside posts resumed*/
.main-aside-post{
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px -2px #989898;
    -moz-box-shadow: 0 4px 4px -2px #989898;
    -webkit-box-shadow: 0 4px 4px -2px #989898;
    overflow-y: scroll;
    background-color:white;
    grid-area: aside;
}

.post-resume{
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 4px -2px #989898;
    -moz-box-shadow: 0 4px 4px -2px #989898;
    -webkit-box-shadow: 0 4px 4px -2px #989898;
    background-color: white;
    height: 15%;
}

.main-aside-post .post-resume p{
    font-size: 10px;
}

.main-aside-post .post-resume h2{
    font-size: 15px;
}
